<div class="container">
   <div class="row no-gutters">
   <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
<h5 class="text-dark bg-light py-4 mb-0">プロフィール編集</h5>
  <div class="form-body p-4">
<%= form_with model: @user do |f| %>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
  </div>
  <%= f.text_field :name, autofocus: true, class: "form-control", id:"inputName", placeholder:"名前"%>
  </div>
  <%= image_tag @user.get_profile_image(60,60), class: "attachment user profile_image mb-3 fallback" %>
  <div class="input-group my-3">
    <label>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  </label>
  </div>
  <%= f.submit "変更を保存", class: "btn btn-lg btn-block btn-info mt-5" %>
<% end %>
  </div>
 </div>
</div>
</div>